body {margin:0; padding:0; width:100%; min-width:1150px; font-family: "freight-sans-pro",sans-serif; font-style: normal; font-weight: 400; font-size:15px; letter-spacing:1px;}
a {text-decoration:none; color:#fff;}
a img {border:0;}
ul {list-style:none; padding:0; margin:0;}
input {-webkit-appearance:none;}
p {margin:0; display:inline-block;}
ul, li, ol, fieldset {list-style:none; padding:0; margin:0; border:none;}
input, select, textarea {-webkit-appearance:none; -webkit-border-radius:0px; padding:10px; height:25px; font:normal 14px "freight-sans-pro"; letter-spacing:1px; border:none; float:left; resize:none;}
input[type="submit"] {border:none; color:#fff; font-size:14px; font-weight:500; float:left; text-align:center; padding:12px 0; width:90px !important; cursor:pointer;}
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
::-webkit-input-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
:-moz-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
::-moz-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
:-ms-input-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}

.mid-cont {position:relative; width:1100px; margin:auto;}
.banner-text {text-align:center; background:#000; border-top:1px solid #fff; color:#fff; padding:60px 0; float:left; width:100%;}
.banner-text .quote {font-size:22px; text-transform:uppercase; font-weight:500; line-height:32px;}
#header, #main-wrap, #footer, #logo-cont {float:left; width:100%; display:none;}
#main-wrap {background:#000;}

/*FONTS*/
.medium {font-weight:500;}
.bold {font-weight:700;}

/*HEADER*/
#header {height:170px;}
#header #logo {float:left; width:189px; height:169px; background:url(../images/flamingo-logo.jpg);}
#header #nav {float:right; background:#000; padding:18px 35px;}
#header #nav li {float:left; margin-right:32px; }
#header #nav li a {font-weight:500; text-transform:uppercase; font-size:13px;}
#header #nav li:nth-child(1) a:hover, .varnadore-electric {color:#72933c;}
#header #nav li:nth-child(2) a:hover, .one-if-by-land {color:#3770a4;}
#header #nav li:nth-child(3) a:hover, .a-stuart-laurence-wedding {color:#4f90ce;}
#header #nav li:nth-child(4) a:hover, .linens-unfurled {color:#ce8464;}
#header #nav li:nth-child(5) a:hover, #header #nav li:nth-child(5).current-menu-item a, .category #header #nav li:nth-child(5) a, .single #header #nav li:nth-child(5) a {color:#ed4a68;}
#header #nav li:last-child {margin-right:0;}
#home #header #nav li.current-menu-item a {color:#fff !important;}

/*FOOTER*/
#footer {background:#000; text-transform:uppercase; padding:20px 0; font-size:13px; height:18px;}
#footer a, #footer #copyright:hover {color:#707681;}
#footer #copyright {float:left; color:#ec3e5f; font-size:13px; margin-right:35px;}
#footer #footer-email {float:left;}
#footer #social-cont {float:right;}
#footer #social-cont .social-link {float:left; margin-left:35px;}
#footer a:hover {color:#ec3e5f;}

/*BOTTOM LOGOS*/
#logo-cont {padding:70px 0 55px 0;}
#logo-cont .bottom-logos {float:left; margin-right:40px; text-align:center;}
#logo-cont .bottom-logos:last-child {margin-right:0;}
#logo-cont .bottom-logos .box-hover {position:absolute; width:310px; /*margin-top:-219px;*/ display:none;}
#logo-cont .bottom-logos .box-title {float:left; width:100%; background:#72933c; font-size:12px; font-weight:700; text-transform:uppercase; padding:20px 0;}
#logo-cont .bottom-logos:nth-child(2) .box-title {background:#3770a4;}
#logo-cont .bottom-logos:nth-child(3) .box-title {background:#4f90ce;}
#logo-cont .bottom-logos:nth-child(4) .box-title {background:#ce8464;}
#logo-cont .bottom-logos:nth-child(2) .box-hover {margin-left:-65px;}
#logo-cont .bottom-logos:nth-child(3) .box-hover {margin-left:-45px;}
#logo-cont .bottom-logos .box-content {float:left; background:#525252; font-size:13px; font-weight:500; padding:15px 25px 20px 25px; width:260px;}
#logo-cont .bottom-logos .box-hover .arrow {float:left; width:100%; background:url(../images/box-arrow.png) no-repeat center bottom; height:22px;}
#logo-cont .bottom-logos img {float:left;}

/*HOME*/
#home .banner-text b {color:#ec3e5f;}
#home .home-copy {float:left; width:100%; margin-top:30px;}
#home .home-copy p {float:left; width:514px; text-align:left; line-height:25px;}
#home .home-copy p:nth-child(2n+2) {float:right;}
/*#home .home-bg {float:left; width:100%; height:645px;}*/
#home .gallery-link {float:left; margin-top:230px; margin-bottom:210px; width:100% !important; padding:60px 0 40px 0; text-align:center; color:#fff; font-size:22px; text-transform:uppercase; font-weight:700; background:url(../images/varnadore-strip-bg.png) repeat;}
#home .gallery-link span {width:100%; display:inline-block;}
#home .gallery-link .arrow {display:inline-block; background:url(../images/home-strip-arrow.png) no-repeat center center #72933c; padding:12px 16px; margin-top:35px; width:37px; height:19px;}

/*SLIDER*/
.metaslider {width:100%; max-width:100% !important;}
.flexslider {margin-bottom:0 !important;}

/*PINK BLOG*/
.blog #main-wrap, .category #main-wrap, .single #main-wrap {background:#000 !important;}
#primary {position:relative; width:900px; margin:auto; }
#primary article.post {border-bottom:1px solid #ec3e5f; float:left; width:100%; padding-bottom:25px; margin-bottom:35px;}
/*#primary article:last-child {border:none; padding:0;}*/
.small-cont {width:760px; position:relative; margin:auto;}
#primary #content {float:left; width:100%; background:#fff; color:#000;}
#primary #blog-header, #nav-below, #nav-single {float:left; width:100%; background:#ec3e5f; padding:22px 0 24px 0; color:#fff; font-weight:500;}
#primary #blog-header .title {float:left; font-size:22px;}
.sort-title {float:left; font-size:16px; background:url(../images/dd-arrows.png) no-repeat 90px -15px; width:105px; cursor:pointer; margin-top:5px;}
.cat-dd {float:right;}
.cat-dd ul.categories {position:absolute; margin-top:54px; text-align:right; background:#ec3e5f; font-size:14px; text-transform:uppercase; color:#fff; padding:15px 25px; min-width:225px; margin-left:-165px; z-index:10; display:none;}
.cat-dd ul.categories li {margin-bottom:15px;}
#primary .entry-title {font-weight:700; font-size:26px; color:#ec3e5f; text-transform:uppercase; float:left; width:100%; margin:0 0 7px 0;}
#primary article:first-child .entry-title {margin-top:45px;}
#primary .entry-meta, #primary .cat-links {font-size:13px; font-weight:500px; text-transform:uppercase; float:left; width:100%; margin-bottom:5px;}
#primary .entry-header, #primary .entry-content, #primary .entry-meta {float:left; width:100%; margin-bottom:15px;}
#primary .cat-links a:hover {text-decoration:underline;}
#primary .entry-content img {max-width:100%; height:auto;}
#primary .pagination .page-numbers, #primary #nav-single a {float:left; margin-right:15px;}
#primary .pagination .page-numbers:hover, #primary .pagination .page-numbers.current, #primary #nav-single a:hover, #blog-header ul.categories li a:hover {color:#000;}
#primary .entry-meta  a {color:#ec3e5f; font-size:15px; text-transform:uppercase; float:left; margin-right:45px; margin-top:25px;}

/*SINGLE POST*/
#primary #comments, #primary #comments .commentlist {float:left; width:100%;}
#primary #comments .left-cont {float:left; width:370px;}
#primary #comments .right-cont {float:right; width:365px;}
#primary #comments #reply-title {font-size:15px; font-weight:500; float:left; width:100%; margin-bottom:25px;}
#primary #comments form {float:left; width:100%; margin-bottom:40px;}
#primary #comments input[type="text"], #primary #comments textarea {width:350px; background:#e8e8e8; margin-bottom:10px;}
#primary #comments textarea {height:130px;}
#primary #comments input[type="submit"] {background:#ec3e5f; height:44px;}
#primary #comments #comments-title, #primary #comments .commentlist li .fn {color:#ec3e5f; font-size:15px; text-transform:uppercase; float:left; width:100%; margin-bottom:20px;}
#primary #comments .commentlist li {margin-bottom:20px;}
#primary #comments .commentlist li time {color:#8d8a8a; font-size:14px;}
#primary #comments .commentlist li .fn {margin-bottom:5px;}

/*CONTACT SECTION*/
#contact {float:left; width:100%; background:#000; padding:50px 0 30px 0;}
#contact #form-cont, #contact #form-cont p {float:right; width:620px;}
#contact #form-cont span {float:left;}
#contact #form-cont input {width:280px; margin-bottom:16px;}
#contact #form-cont span:first-child, #contact #form-cont span:nth-child(3) {margin-right:18px;}
#contact #form-cont textarea {width:600px; height:95px; margin-bottom:16px;}
#contact #form-cont input[type="submit"] {background:#72933c; height:45px; float:right;}
#contact span.wpcf7-not-valid-tip {color:#72933d;}
#contact span.Message span.wpcf7-not-valid-tip {top:7%; left:1%;}
#contact .left-cont {float:left; width:400px;}
#contact .left-cont .title {font-size:22px; color:#fff; float:left; width:100%; margin-bottom:35px;}
#contact .social-cont {float:left; width:100%;}
#contact .social-cont .social-icon {float:left; margin-right:35px; height:60px; width:25px; background:url(../images/varnadore-social.png) no-repeat;}
#contact .social-cont #pinterest:hover {background-position:0 -60px;}
#contact .social-cont #instagram {background-position:-55px 0;}
#contact .social-cont #instagram:hover {background-position:-55px -60px;}
#contact .social-cont #facebook {background-position:-118px 0;}
#contact .social-cont #facebook:hover {background-position:-118px -60px;}
#contact .social-cont #flamingo {background-position:-180px 0;}
#contact .social-cont #flamingo:hover {background-position:-180px -60px;}
#contact .member-cont {float:left; width:100%; color:#fff; font-size:15px; margin-bottom:35px;}

/*ABOUT*/
#about .about-banner, #about .member-cont:nth-child(1) .main-cont, #about #packages-cont {float:left; width:100%;}
#about .about-banner img {width:100%; height:auto;}
#about #members {float:left; width:100%; background:#fff; text-align:center; overflow:hidden;}
#about .member-cont {float:none; width:520px; background:#fff; color:#000; display:inline-block; padding:35px 0;}
#about .member-cont .main-cont {float:left; width:520px;}
#about .member-cont:nth-child(1) {background:#000; color:#fff; width:100%;}
#about .member-cont:nth-child(1) .member-img {float:left; width:350px;}
#about .member-cont:nth-child(1) .member-info-cont {width:695px;}
#about .member-cont .member-img {float:left; width:160px;}
#about .member-cont .member-info-cont {float:right; width:315px; text-align:left;}
#about .member-cont .member-img img {width:100%; height:auto;}
#about .member-cont .member-img  .photo2 {display:none;}
#about .member-cont:nth-child(2n+2) .main-cont {margin-left:-28px;}
#about .member-cont:nth-child(2n+3) .main-cont {margin-left:28px;}
#about .member-cont .member-name {float:left; width:100%; margin-bottom:25px; font-weight:500; font-size:22px; text-transform:uppercase;}
#about .member-cont .member-name span, #about #packages-cont .package-name span {font-weight:700; color:#72933c;}
#about #packages-cont {background:#000; padding:50px 0; color:#fff;}
#about #packages-cont .title {font-size:22px; width:100%; margin-bottom:10px;}
#about #packages-cont .package {float:left; width:100%; border-top:1px solid #4d4d4d; padding:45px 0 25px 0;}
#about #packages-cont .package .left {float:left; width:240px;}
#about #packages-cont .package-name {float:left; margin-bottom:15px; font-weight:500; font-size:22px; text-transform:uppercase;}
#about #packages-cont .contact-link {float:left; font-size:13px; font-style:italic;}
#about #packages-cont .contact-link:hover {text-decoration:underline;}
#about #packages-cont .package-info {float:right; width:800px; line-height:22px;}

/*GALLERY*/
#gallery-cont {float:left; width:100%; background:#000; padding:30px 0; color:#fff;}
#gallery-cont .title {font-size:22px; float:left; margin-bottom:25px; text-transform:uppercase;}
#gallery-cont .cat-dd ul.categories {background:#000;}
#gallery-cont .images-cont {float:left; width:100%;}
#gallery-cont .images-cont img {width:350px; height:auto; margin-bottom:15px;}
#gallery-cont .gallery-images {margin-right:15px;}
/*#gallery-cont .gallery-images:nth-child(3n+3) {margin-right:0;}*/
#gallery #lightbox {top:30px !important;}
#gallery #outerImageContainer, #gallery #imageDataContainer {background:none;}
#gallery #jqlb_closelabel {height:45px;}
#gallery #prevLink {background:url(/wp-content/plugins/wp-lightbox-2/styles/images/prev.gif) no-repeat scroll left 50% transparent; margin-left:-60px;}
#gallery #nextLink {background:url(/wp-content/plugins/wp-lightbox-2/styles/images/next.gif) no-repeat scroll right 50% transparent; margin-right:-60px;}

/*404*/
#not-found-cont {float:left; width:100%; background:#000; text-align:center; padding:60px 0;}
#not-found-cont #bubble {position:absolute; background:url(../images/404-bubble.png) no-repeat; width:307px; height:188px; margin-left:380px; font-size:24px; font-weight:500; text-transform:uppercase;}
#not-found-cont #bubble span {display:inline-block; margin-top:35px;}
#not-found-cont #flamingo {float:right; margin:150px 240px 0 0;}
#not-found-cont .home-link {position:absolute; padding:15px 30px; font-size:16px; font-weight:500px; text-transform:uppercase; background:#ec3e5f; margin-top:275px;}

@media only screen and (max-device-width:480px) {
		body {min-height:1250px;}

}
@media only screen and (max-device-width:1024px) {
		body {min-height:1400px;}

}






